/* ================ */
/* NAVIGATION STYLE */
/* ================ */
#black-line {
  width: 100%;
  height: 2.8rem;
  background-color: #252525;
}

a {
  text-decoration: none;
  color: #252525;
}

nav {
  font-size: 1rem;
}

.nav-links {
  list-style-type: none;
  display: flex;
  gap: 3rem;
}

#shop-name {
  font-size: 1.25rem;
  font-weight: bold;
}

.icons {
  display: flex;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 7.75rem;
  height: 3.1rem;
  background-color: #f4f4f4;
}

.icons img {
  width: 1.3rem;
  height: 1.3rem;
  padding: 1.25rem;
}

.hamburger-img {
  display: none;
}

.mobile-menu {
  display: none;
}

/* ================ */
/* FOOTER STYLE */
/* ================ */
.footer-name,
#footer-links {
  display: flex;
  flex-direction: row;
}

footer {
  background-color: #494949;
  color: #f4f4f4;
  padding: 3.5rem 7.8rem;

  display: grid;
  grid-template-columns: 1fr auto;
  align-items: start;
}

.footer-name h3 {
  margin-bottom: 0.5rem;
}

.footer-name {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer-name h3,
.footer-name p {
  margin: 0;
}

#footer-links {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  gap: 4rem;
  justify-self: end;
}

/* ================= */
/* RESPONSIVE DESIGN */
/* ================= */

/* FIRST BREAKPOINT */
@media screen and (max-width: 1125px) {
  /* Nav Style */
  #black-line {
    width: 100%;
    height: 2.5rem;
    background-color: #252525;
  }

  nav {
    font-size: 0.9rem;
  }

  #shop-name {
    font-size: 1.1rem;
    font-weight: bold;
  }

  .nav-links {
    list-style-type: none;
    display: flex;
    gap: 2.5rem;
  }

  .icons img {
    width: 1.1rem;
    height: 1.1rem;
    padding: 1rem;
  }

  .header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5.75rem;
    height: 2.8rem;
    background-color: #f4f4f4;
  }

  .hamburger-img {
    display: none;
  }

  /* Footer Style */
  footer {
    padding: 2.8rem 5.75rem;
  }

  .footer-name {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    width: fit-content;
  }

  .footer-name h3 {
    font-size: 0.9rem;
  }

  .footer-name p {
    font-size: 0.8rem;
  }

  #footer-links {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 2rem;
    justify-self: end;
    font-size: 0.7rem;
  }

  #footer-links h4 {
    font-size: 0.9rem;
  }
}

/* SECOND BREAKPOINT */
@media screen and (max-width: 940px) {
  #black-line {
    width: 100%;
    height: 2.2rem;
    background-color: #252525;
  }

  nav {
    font-size: 0.8rem;
  }

  #shop-name {
    font-size: 0.9rem;
    font-weight: bold;
  }

  .nav-links {
    list-style-type: none;
    display: flex;
    gap: 2.3rem;
  }

  .icons img {
    width: 0.9rem;
    height: 0.9rem;
    padding: 0.8rem;
  }

  .header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4.5rem;
    height: 2.4rem;
    background-color: #f4f4f4;
  }

  .hamburger-img {
    display: none;
  }

  /* Footer Style */
  footer {
    padding: 2rem 4.5rem;
  }

  .footer-name {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    width: fit-content;
  }

  .footer-name h3 {
    font-size: 0.8rem;
  }

  .footer-name p {
    font-size: 0.7rem;
  }

  #footer-links {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 2rem;
    justify-self: end;
    font-size: 0.6rem;
  }

  #footer-links h4 {
    font-size: 0.8rem;
  }
}

/* THIRD BREAKPOINT */
@media screen and (max-width: 810px) {
  #black-line {
    width: 100%;
    height: 2rem;
    background-color: #252525;
  }

  #shop-name {
    font-size: 0.9rem;
    font-weight: bold;
  }

  .header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem;
    height: 2.4rem;
    background-color: #f4f4f4;
  }

  .nav-links,
  .icons {
    display: none;
  }

  .hamburger-img {
    display: flex;
    width: 1.2rem;
    height: 1rem;
    margin-left: auto;
    cursor: pointer;
  }

  .mobile-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: end;
    right: 3rem;
    z-index: 9999;
  }

  .mobile-menu ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    background-color: #f4f4f4;
    margin: 0px;
    align-items: center;
    padding: 0;
    width: 15rem;
  }

  .mobile-menu li {
    width: 100%;
  }

  .mobile-menu li a {
    display: block;
    width: 100%;
    padding: 1rem 0;
    text-align: center;
    text-decoration: none;
    color: #252525;
    transition: background-color 0.3s ease;
  }

  .mobile-menu li a:hover {
    background-color: #e0e0e0;
  }

  .mobile-menu li a:active {
    background-color: #e0e0e0;
  }

  /* Footer Style */
  footer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 3rem;
  }

  .footer-name h3 {
    font-size: 0.9rem;
  }

  .footer-name p {
    font-size: 0.8rem;
  }

  #footer-links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    width: 100%;
    font-size: 0.75rem;
  }
}
