/* Body Style */
body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

/* Navigation Style */
#black-line {
  width: 100%;
  height: 46px;
  background-color: #252525;
}

nav {
  font-size: 1rem;
}

.nav-links {
  list-style-type: none;
  display: flex;
  gap: 48px;
}

#shop-name {
  font-size: 1.25rem;
  font-weight: bold;
}

.icons {
  display: flex;
  gap: 32px;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icons img {
  width: 21px;
  height: 21px;
  padding: 20, 20, 20, 20;
}

.header-content {
  padding: 0 124px;
  height: 50px;
  background-color: #f4f4f4;
}

#background-image {
  width: 100%;
  height: 600px;
}

/* Buttons Style */
.button {
  width: 155px;
  height: 44px;
  padding: 12px 28px;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  font-size: 18px;
}

#CTA {
  border-radius: 100px;
  border: 1px solid #073946;
  background: #395352;
  color: #ffffff;
}

#secondary {
  border-radius: 100px;
  border: 1.5px solid #6b7280;
  background-color: transparent;
}
